//Colors scheme 1

$white:#FFF;
$platinum:#E6E7E7;
$lightgray:#D1D1D1;

//Colors scheme 2

$fuzzywuzzy:#E56353;
$ruddypink:#D76C69;
$spanishpink:#ECBCBA;


// Colors scheme 3

$eerieblack:#121619;
$raisinblack:#222323;
$nickel:#6C6E70;

// Typography

$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;



//pesos fuentes
$f-light: 300;
$f-regular: 400;
$bolditalic: 900;

//Font sizes
$xx-large: 100px;
$x-large: 70px;
$large: 50px;
$medium: 18px;
